*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --colorMain: #c0c0c0;
  --brShadow: -5px 5px 13px rgba(0,0,0,0.5);
  --tlShadow: 5px -5px 13px rgba(255,255,255,0.8);
  --ibrShadow: inset -5px 5px 13px rgba(0,0,0,0.5);
  --itlShadow: inset 5px -5px 13px rgba(255,255,255,0.8);

  --colorMainDark: #403939;
  --brShadowDark: -5px 5px 13px rgba(0,0,0,0.5);
  --tlShadowDark: 5px -5px 13px rgba(114, 114, 114, 0.8);
  --ibrShadowDark: inset -5px 5px 13px rgba(0,0,0,0.5);
  --itlShadowDark: inset 5px -5px 13px rgba(114, 114, 114, 0.8);

  --btnBrShadow: -5px 5px 11px rgba(0,0,0,0.5);
  --btnTlShadow: 5px -5px 14px rgba(255,255,255,0.8);

  --btnBrShadowDark: -5px 5px 11px rgba(0,0,0,0.5);
  --btnTlShadowDark: 5px -5px 14px rgba(114, 114, 114, 0.8);
}

.App {
  padding-top: 5%;
}

.plate {
  width: 17rem;
  height: 18rem;
  font-size: 24px;
  font-weight: bold;
  color: #a88c75;
  margin-top: 15px;
  border-radius: 40px;
  padding: 30px 35px 35px 35px;
  background: var(--colorMain);
  box-shadow: var(--brShadow), 
              var(--tlShadow);
}

.colorPlate {
  width: 12rem;
  height: 8rem;
  border-radius: 20px;
  box-shadow: var(--ibrShadow), 
              var(--itlShadow);
}

.inputBox {
  border: none;
  width: 19rem;
  height: 4rem;
  font-size: 24px;
  color: #a88c75;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background: var(--colorMain);
  box-shadow: var(--ibrShadow), 
              var(--itlShadow);
}
.inputBox:focus {
  border: none;
  resize: none;
  outline: none;
}

.text {
  margin-top: 3%;
  font-size: 8em;
  font-weight: bold;
  position: relative;
  color: var(--colorMain);
  text-transform: uppercase;
  text-shadow: var(--brShadow), 
               var(--tlShadow);
}

.plateDark {
  width: 17rem;
  height: 18rem;
  font-size: 24px;
  font-weight: bold;
  color: #a88c75;
  margin-top: 15px;
  border-radius: 40px;
  padding: 30px 35px 35px 35px;
  background: var(--colorMainDark);
  box-shadow: var(--brShadowDark), 
              var(--tlShadowDark);
}

.colorPlateDark {
  width: 12rem;
  height: 8rem;
  border-radius: 20px;
  box-shadow: var(--ibrShadowDark), 
              var(--itlShadowDark);
}

.inputBoxDark {
  border: none;
  width: 19rem;
  height: 4rem;
  font-size: 24px;
  color: #a88c75;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background: var(--colorMainDark);
  box-shadow: var(--ibrShadowDark), 
              var(--itlShadowDark);
}
.inputBoxDark:focus {
  border: none;
  resize: none;
  outline: none;
}

.textDark {
  margin-top: 3%;
  font-size: 8em;
  font-weight: bold;
  position: relative;
  color: var(--colorMainDark);
  text-transform: uppercase;
  text-shadow: var(--brShadowDark), 
               var(--tlShadowDark);
}

.btnW{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #dacfcf;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadow), 
              var(--btnTlShadow);
  border: 5px solid #c0c0c0;
}
.btnD{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #332D2D;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadow), 
              var(--btnTlShadow);
  border: 5px solid #c0c0c0;
}
.btnR{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadow), 
              var(--btnTlShadow);
  border: 5px solid #c0c0c0;
  background-image: linear-gradient(to bottom right, lightgreen, rgb(161, 176, 189), rgb(156, 141, 121), rgb(128, 128, 223), blue, lightgreen);
}
.btnWDark{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #a09e9e;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadowDark), 
              var(--btnTlShadowDark);
  border: 5px solid #403939;
}
.btnDDark{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #332D2D;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadowDark), 
              var(--btnTlShadowDark);
  border: 5px solid #403939;
}
.btnRDark{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  /* box-shadow: 1px 5px 7px #161514; */
  box-shadow: var(--btnBrShadowDark), 
              var(--btnTlShadowDark);
  border: 5px solid #403939;
  background-image: linear-gradient(to bottom right, lightgreen, rgb(161, 176, 189), rgb(156, 141, 121), rgb(128, 128, 223), blue, lightgreen);
}

@media only screen and (max-width: 600px) {
  .App {
    padding-top: 15%;
  }
  .text {
    font-size: 5rem;
    margin-top: 15%;
  }
  .textDark {
    font-size: 5rem;
    margin-top: 15%;
  }
}
