body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: lightgreen; */
  /* animation: fade 20s infinite; */
}
@keyframes fade{
  0%   {background-color:lightgreen; }
  25%  {background-color:rgb(161, 176, 189); }
  50%  {background-color:rgb(156, 141, 121); }
  75%  {background-color:rgb(128, 128, 223); }
  100% {background-color:lightgreen; }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .btnTheme{
  margin-top: 1%;
} */