body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgreen;
  animation: fade 20s infinite;
}
@keyframes fade{
  0%   {background-color:burlywood; }
  25%  {background-color:aliceblue; }
  50%  {background-color:lavender; }
  75%  {background-color:lavenderblush; }
  100% {background-color:lightgreen; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
